#header{
    width: 100%;
    text-align: center;
    position: fixed;
    margin-top: 0px;
    background-color: black;
}

.navbar{
    padding: 10px 10%;
}

.container nav h1 span {
    color: #244ccb;
}

.sidebar-expanded{
    right:0
}

.sidebar-collapsed{
    right:-200px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #244ccb;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}


nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    nav .fas{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }     

    nav ul{
        background: #0A66C2;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}